{% extends('common/base_detail.twig') %}

{% block main %}

	{{ form.form_title(template_name) }}
	
	<div class="event-content">
		<h4><i class="fa" aria-hidden="true"></i>件名</h4>
		<p>{{ subject }}</p>
	</div>
	
	<div class="event-content">
		<h4><i class="fa" aria-hidden="true"></i>本文</h4>
		<p>{{ discription|nl2br }}</p>
	</div>
	
	</div>
	
	{{ form.input_button("popup-close", "閉じる", "", "btn_return", "window.close(); return false;") }}

{% endblock %}